.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 205 250);
  --md-sys-color-surface-tint: rgb(238 180 234);
  --md-sys-color-on-primary: rgb(62 20 64);
  --md-sys-color-primary-container: rgb(180 127 178);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(239 213 234);
  --md-sys-color-on-secondary: rgb(49 32 48);
  --md-sys-color-secondary-container: rgb(161 138 157);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 210 201);
  --md-sys-color-on-tertiary: rgb(63 27 19);
  --md-sys-color-tertiary-container: rgb(186 131 119);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(23 18 22);
  --md-sys-color-on-background: rgb(235 223 230);
  --md-sys-color-surface: rgb(23 18 22);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(77 68 75);
  --md-sys-color-on-surface-variant: rgb(231 216 226);
  --md-sys-color-outline: rgb(187 174 183);
  --md-sys-color-outline-variant: rgb(153 141 149);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(235 223 230);
  --md-sys-color-inverse-on-surface: rgb(46 40 45);
  --md-sys-color-inverse-primary: rgb(101 55 101);
  --md-sys-color-primary-fixed: rgb(255 214 249);
  --md-sys-color-on-primary-fixed: rgb(37 0 41);
  --md-sys-color-primary-fixed-dim: rgb(238 180 234);
  --md-sys-color-on-primary-fixed-variant: rgb(81 38 82);
  --md-sys-color-secondary-fixed: rgb(246 219 240);
  --md-sys-color-on-secondary-fixed: rgb(27 12 26);
  --md-sys-color-secondary-fixed-dim: rgb(217 191 212);
  --md-sys-color-on-secondary-fixed-variant: rgb(66 49 65);
  --md-sys-color-tertiary-fixed: rgb(255 218 211);
  --md-sys-color-on-tertiary-fixed: rgb(37 7 3);
  --md-sys-color-tertiary-fixed-dim: rgb(246 184 170);
  --md-sys-color-on-tertiary-fixed-variant: rgb(83 43 34);
  --md-sys-color-surface-dim: rgb(23 18 22);
  --md-sys-color-surface-bright: rgb(74 66 72);
  --md-sys-color-surface-container-lowest: rgb(10 6 10);
  --md-sys-color-surface-container-low: rgb(34 28 33);
  --md-sys-color-surface-container: rgb(44 38 43);
  --md-sys-color-surface-container-high: rgb(55 49 54);
  --md-sys-color-surface-container-highest: rgb(67 60 65);
}
