.dark {
  --md-sys-color-primary: rgb(238 180 234);
  --md-sys-color-surface-tint: rgb(238 180 234);
  --md-sys-color-on-primary: rgb(74 32 76);
  --md-sys-color-primary-container: rgb(99 54 100);
  --md-sys-color-on-primary-container: rgb(255 214 249);
  --md-sys-color-secondary: rgb(217 191 212);
  --md-sys-color-on-secondary: rgb(60 43 59);
  --md-sys-color-secondary-container: rgb(84 65 82);
  --md-sys-color-on-secondary-container: rgb(246 219 240);
  --md-sys-color-tertiary: rgb(246 184 170);
  --md-sys-color-on-tertiary: rgb(76 38 29);
  --md-sys-color-tertiary-container: rgb(102 59 50);
  --md-sys-color-on-tertiary-container: rgb(255 218 211);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(23 18 22);
  --md-sys-color-on-background: rgb(235 223 230);
  --md-sys-color-surface: rgb(23 18 22);
  --md-sys-color-on-surface: rgb(235 223 230);
  --md-sys-color-surface-variant: rgb(77 68 75);
  --md-sys-color-on-surface-variant: rgb(208 195 204);
  --md-sys-color-outline: rgb(153 141 150);
  --md-sys-color-outline-variant: rgb(77 68 75);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(235 223 230);
  --md-sys-color-inverse-on-surface: rgb(53 46 52);
  --md-sys-color-inverse-primary: rgb(125 78 125);
  --md-sys-color-primary-fixed: rgb(255 214 249);
  --md-sys-color-on-primary-fixed: rgb(50 9 53);
  --md-sys-color-primary-fixed-dim: rgb(238 180 234);
  --md-sys-color-on-primary-fixed-variant: rgb(99 54 100);
  --md-sys-color-secondary-fixed: rgb(246 219 240);
  --md-sys-color-on-secondary-fixed: rgb(38 22 37);
  --md-sys-color-secondary-fixed-dim: rgb(217 191 212);
  --md-sys-color-on-secondary-fixed-variant: rgb(84 65 82);
  --md-sys-color-tertiary-fixed: rgb(255 218 211);
  --md-sys-color-on-tertiary-fixed: rgb(51 17 10);
  --md-sys-color-tertiary-fixed-dim: rgb(246 184 170);
  --md-sys-color-on-tertiary-fixed-variant: rgb(102 59 50);
  --md-sys-color-surface-dim: rgb(23 18 22);
  --md-sys-color-surface-bright: rgb(62 55 60);
  --md-sys-color-surface-container-lowest: rgb(18 13 17);
  --md-sys-color-surface-container-low: rgb(31 26 31);
  --md-sys-color-surface-container: rgb(36 30 35);
  --md-sys-color-surface-container-high: rgb(46 40 45);
  --md-sys-color-surface-container-highest: rgb(57 51 56);
}
