.light {
  --md-sys-color-primary: rgb(125 78 125);
  --md-sys-color-surface-tint: rgb(125 78 125);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 214 249);
  --md-sys-color-on-primary-container: rgb(99 54 100);
  --md-sys-color-secondary: rgb(108 88 106);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(246 219 240);
  --md-sys-color-on-secondary-container: rgb(84 65 82);
  --md-sys-color-tertiary: rgb(130 82 72);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 218 211);
  --md-sys-color-on-tertiary-container: rgb(102 59 50);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 247 250);
  --md-sys-color-on-background: rgb(31 26 31);
  --md-sys-color-surface: rgb(255 247 250);
  --md-sys-color-on-surface: rgb(31 26 31);
  --md-sys-color-surface-variant: rgb(237 222 232);
  --md-sys-color-on-surface-variant: rgb(77 68 75);
  --md-sys-color-outline: rgb(127 116 124);
  --md-sys-color-outline-variant: rgb(208 195 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 46 52);
  --md-sys-color-inverse-on-surface: rgb(250 237 244);
  --md-sys-color-inverse-primary: rgb(238 180 234);
  --md-sys-color-primary-fixed: rgb(255 214 249);
  --md-sys-color-on-primary-fixed: rgb(50 9 53);
  --md-sys-color-primary-fixed-dim: rgb(238 180 234);
  --md-sys-color-on-primary-fixed-variant: rgb(99 54 100);
  --md-sys-color-secondary-fixed: rgb(246 219 240);
  --md-sys-color-on-secondary-fixed: rgb(38 22 37);
  --md-sys-color-secondary-fixed-dim: rgb(217 191 212);
  --md-sys-color-on-secondary-fixed-variant: rgb(84 65 82);
  --md-sys-color-tertiary-fixed: rgb(255 218 211);
  --md-sys-color-on-tertiary-fixed: rgb(51 17 10);
  --md-sys-color-tertiary-fixed-dim: rgb(246 184 170);
  --md-sys-color-on-tertiary-fixed-variant: rgb(102 59 50);
  --md-sys-color-surface-dim: rgb(226 215 221);
  --md-sys-color-surface-bright: rgb(255 247 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(252 240 247);
  --md-sys-color-surface-container: rgb(247 235 241);
  --md-sys-color-surface-container-high: rgb(241 229 236);
  --md-sys-color-surface-container-highest: rgb(235 223 230);
}
